[user]
    name = Dmitry Voronin
    email = dimka665@gmail.com

[core]
    editor = read-editor.sh
    hooksPath = .githooks

[fetch]
    prune = true

[merge]
    ff = only

[push]
    default = simple
